@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ejjojm');
  src:  url('fonts/icomoon.eot?ejjojm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ejjojm') format('truetype'),
    url('fonts/icomoon.woff?ejjojm') format('woff'),
    url('fonts/icomoon.svg?ejjojm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Component-241--1:before {
  content: "\e90d";
  color: #fff;
}
.icon-Component-172--13:before {
  content: "\e90e";
  color: #fff;
}
.icon-Component-221--3:before {
  content: "\e90f";
  color: #fff;
}
.icon-Component-223--3:before {
  content: "\e910";
  color: #fff;
}
.icon-Component-224--3:before {
  content: "\e911";
  color: #fff;
}
.icon-Component-285--1:before {
  content: "\e900";
  color: #fff;
}
.icon-Component-276--1:before {
  content: "\e901";
  color: #fff;
}
.icon-Component-238--1:before {
  content: "\e902";
  color: #e85e5e;
}
.icon-Component-231--3:before {
  content: "\e903";
  color: #fff;
}
.icon-Component-231--1:before {
  content: "\e904";
  color: #fff;
}
.icon-Component-180--12:before {
  content: "\e905";
  color: #fff;
}
.icon-Component-179--12:before {
  content: "\e906";
  color: #fff;
}
.icon-Component-178--12:before {
  content: "\e907";
  color: #fff;
}
.icon-Component-177--12:before {
  content: "\e908";
  color: #fff;
}
.icon-Component-176--12:before {
  content: "\e909";
  color: #fff;
}
.icon-Component-175--12:before {
  content: "\e90a";
  color: #fff;
}
.icon-Component-174--12:before {
  content: "\e90b";
  color: #fff;
}
.icon-Component-173--13:before {
  content: "\e90c";
  color: #fff;
}
