* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(90deg, #161122 21px, transparent 1%) center, linear-gradient(#161122 21px, transparent 1%) center, #a799cc;
  background-size: 22px 22px;
  font-family: "DinBold";
  font-size: 1.5em;
  color: white !important;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent url('../../images/Component366–2.png') 0% 0% no-repeat padding-box;
  background-size: cover;
}

.login-form {
  width: 500px;
  margin: 0 auto;
  padding: 30px 30px 20px 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 20px #00000080;
  border-radius: 12px;
}

.form-control {
  /* width: 300px; */
}
@media screen and (max-width: 600px) {
  .login-form {
    width: 95vw;
    max-width: 15em !important;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.lf--label {
  display: flex;
  align-items: center;
  justify-content: left;
}

.lf--input {
  flex: 1;
  border: 0;
  color: #333333;
}
.lf--input:focus {
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.1);
}

input[type=checkbox]{
  width: 20px;
  height: 20px;
  vertical-align:middle;
}

.lf--checkbox {
  margin-bottom: 0rem;
}

.lf--submit {
  display: block;
  width: 100%;
  background: #2D333D 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000080;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 9px 0px;
}

.lf--submit:hover {
  background: #505050 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000080;
}

.lf--submit:focus {
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.1);
  background: #00000080;
}

.lf--forgot {
  margin-top: 20px;
  color:#1C69B5;
  font-size: 14px;
  text-align: center;
  position: relative;
}
.lf--forgot:hover {
  text-decoration: none;
}

::-moz-placeholder {
  color: #333333;
}

:-ms-input-placeholder {
  color: #333333;
}

::placeholder {
  color: #333333;
}

footer {
  position: relative;
}