@font-face {
  font-family: "FontAwesome";
  src: url('../font-awesome-4.7.0/font-awesome-4.7.0/fonts/fontawesome-webfont.eot');
  src: url('../font-awesome-4.7.0/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf');
}

@font-face {
  font-family: 'DinBold';
  src: url('../../assets/fonts/DIN\ Bold.otf') format('truetype');
}

@font-face {
  font-family: 'DinRegular';
  src: url('../../assets/fonts/DIN\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DinMedium';
  src: url('../../assets/fonts/DIN\ Medium.otf') format('truetype');
}

.din-bold-24 {
  font-family: DinBold;
  font-size: 24px;
}

.din-bold-16 {
  font-family: DinBold;
  font-size: 16px;
}

.din-bold-14 {
  font-family: DinBold;
  font-size: 14px;
}

.din-regular-16 {
  font-family: DinRegular;
  font-size: 16px;
}

.din-medium-16 {
  font-family: DinMedium;
  font-size: 16px;
}

.din-medium-14 {
  font-family: DinMedium;
  font-size: 14px !important;
}