a,
a:hover,
a:active {
  text-decoration: none;
  color: unset;
}

a {
  color: #008DE7;
}

a:hover {
  transition: all 200ms ease-in-out;
}

.map-menus {
  margin: 15px;
}

.page-container,
.modules-container {
  position: absolute;
  left: 20px;
  margin: 0px auto;
}

.page-container {
  top: 30px;
}

.modules-container {
  bottom: 31%;
}

#chat-circle:hover:after {
  position: absolute;
  width: 65px;
  background: #FAAF40;
  padding: 4px;
  content: 'coming soon';
  color: #000;
  left: -68px;
  font-size: 10px;
}

#chat-circle:hover:before {
  position: absolute;
  width: 65px;
  background: #fff;
  padding: 4px;
  content: 'Live Chat';
  color: #000;
  left: -68px;
  top: 0px;
  font-size: 10px;
}

.notify-badge {
  width: 10px;
  height: 10px;
  background: #E85E5E;
  position: absolute;
  right: 0px;
  top: 5px;
  width: 12px;
  height: 12px;
  text-align: right;
  border-radius: 50%;
  color: white;
}

.page-container.sidebar-collapsed {
  transition: all 100ms linear;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back {
  transition: all 100ms linear;
}

.page-container.sidebar-collapsed .sidebar-menu {
  width: 40px;
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
  width: 270px;
  max-width: 100%;
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-icon {
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed-back .sidebar-icon {
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed .logo {
  transition: all 100ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .logo {
  transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed #menu span {
  opacity: 0;
  transition: all 50ms linear;
}

.page-container.sidebar-collapsed-back #menu span {
  opacity: 1;
  transition: all 200ms linear;
  transition-delay: 300ms;
  line-height: 1;
}

.sidebar-menu {
  height: 100%;
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  z-index: 1;
  background: #2D333D 0% 0% no-repeat padding-box;
}

.modules-menu {
  height: 100%;
  transition: all 100ms ease-in-out;
  width: 133px;
  color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  z-index: 1;
  background: #2D333D 0% 0% no-repeat padding-box;
  position: absolute;
  top: 0;
  left: 50px;
}

#menu,
#modulesMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li,
#modulesMenu li {
  position: relative;
  margin: 0;
  /* font-size: 12px; */
  border-bottom: 1px solid rgba(69, 74, 84, 0.7);
  padding: 13px;
  height: 40px;
  line-height: 1;
}

#menu li ul,
#modulesMenu li ul {
  opacity: 0;
  height: 0px;
}

#menu li a,
#modulesMenu li a {
  position: relative;
  display: block;
  color: #ffffff;
  white-space: nowrap;
  z-index: 2;
  margin-right: 15px;
}

#menu li:hover,
#modulesMenu li:hover {
  color: #ffffff;
  background-color: #4F545D;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

#modulesMenu li {
  background-color: #2D333D;
}

#menu li.active>a,
#modulesMenu li.active>a {
  background-color: #2b303a;
  color: #ffffff;
}

#menu ul li,
#modulesMenu ul li {
  background-color: #2b303a;
}

#menu ul,
#modulesMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li ul,
#modulesMenu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: -1px;
  background-color: #2b303a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover>ul,
#modulesMenu li:hover>ul {
  visibility: visible;
  opacity: 1;
}

#menu li li ul,
#modulesMenu li li ul {
  left: 100%;
  visibility: hidden;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

#menu li li:hover ul,
#modulesMenu li li:hover ul {
  visibility: visible;
  opacity: 1;
}

#menu li.child-items:hover:after,
#modulesMenu li.child-items:hover:after {
  content: "\f105";
  font-family: 'FontAwesome';
}

.sidebar-collapsed-back #menu li.child-items:after,
#modulesMenu li.child-items:after {
  content: "\f104";
  font-family: 'FontAwesome';
  float: right;
  margin-top: -13px;
}

#menu .fa,
#modulesMenu .fa {
  margin-right: 15px;
}

.icon-Component-241--1 {
  font-size: 14px;
}

.icon-box {
  background: #2D333D 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000066;
  border-radius: 4px;
  padding: 20px;
  width: 30px;
  position: relative;
  margin-bottom: 10px;
}

.esri-widget--button {
  background: #2D333D 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000066;
  border-radius: 4px;
  padding: 20px;
  width: 30px;
  position: relative;
}

.esri-widget {
  background: #2D333D 0% 0% no-repeat padding-box;
  font-family: 'DinMedium';
}

.esri-ui-corner .esri-component {
  /* height: 40px; */
  box-shadow: 0px 3px 6px #00000066;
}

.esri-input {
  background-color: #2D333D;
  color: #fff;
}

.esri-menu {
  background-color: #2D333D;
}

.esri-widget * {
  color: #fff;
}

.esri-zoom .esri-widget--button:last-child {
  margin: auto;
  border: none;
  background: linear-gradient(#2D333D, #000) top no-repeat;
  background-size: 55% 2px;
}

.esri-search__submit-button {
  margin: auto;
  border: none;
  background: linear-gradient(#2D333D, #000) left no-repeat;
  background-size: 2px 55%;
}

:focus,
button:focus {
  outline: 0;
}

::placeholder {
  color: #fff !important;
  font-family: 'DinMedium'i !important;
}

.esri-input[type=text] {
  height: 40px;
  font-family: 'DinMedium';
}

.icon {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background-clip: padding-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* modules */
.modules-container {
  margin-top: 10px;
}

.right-header {
  position: absolute;
  top: 30px;
  right: 0;
}

.esri-icon-home:before {
  content: "\e900";
  font-family: 'icomoon';
  color: inherit;
}

.esri-ui-top-right {
  top: 80px;
  right: 10px;
}

/* chat */
#chat-circle {
  position: fixed;
  bottom: 30px;
  right: 15px;
  border-radius: 50%;
  color: white;
  padding: 28px;
  cursor: pointer;
  width: 50px;
  background: #2D333D 0% 0% no-repeat padding-box;
  height: 50px;
  box-shadow: 0px 3px 6px #00000066;
}

.btn#my-btn {
  background: white;
  padding-top: 13px;
  padding-bottom: 12px;
  border-radius: 45px;
  padding-right: 40px;
  padding-left: 40px;
  color: #5865C3;
}

#chat-overlay {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
}


.chat-box {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 300px;
  max-height: 100vh;
  border-radius: 5px;
  background: #2D333D 0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;
}

.chat-box-toggle {
  float: right;
  margin-right: 15px;
  cursor: pointer;
}

.chat-box-header {
  font-size: 16px;
  padding: 15px;
  text-align: left;
  letter-spacing: 0px;
  font-family: 'DinMedium';
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  background: #2D333D 0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;
}

.chat-box-body {
  position: relative;
  height: 290px;
  overflow: hidden;
  background: #242830 0% 0% no-repeat padding-box;
}

#chat-input {
  width: 100%;
  position: relative;
  height: 47px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: none;
  resize: none;
  outline: none;
  color: #8B8B8B;
  overflow: hidden;
  background: #2D333D 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 4px 4px;
  height: 50px;
  font-family: 'DinRegular';
  font-size: 14px;
}

.chat-input>form {
  margin-bottom: 0;
}

#chat-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8B8B8B;
}

.chat-submit {
  position: absolute;
  bottom: 6px;
  right: 10px;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  height: 35px;
}

.chat-logs {
  padding: 15px;
  height: 370px;
  overflow-y: auto;
}

.chat-logs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb {
  background-color: #5A5EB9;
}

@media only screen and (max-width: 500px) {
  .chat-logs {
    height: 40vh;
  }
}

.chat-msg.user>.msg-avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  float: left;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 0px 3px 6px #00000066;
}

.chat-msg.self>.msg-avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  float: right;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 0px 3px 6px #00000066;
}

.cm-msg-text {
  padding: 5px 0;
  color: #666;
  max-width: 75%;
  float: left;
  margin-left: 10px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 30px;
  font-size: 14px;
  font-family: 'DinRegular';
}

.chat-msg {
  clear: both;
}

.chat-msg.self>.cm-msg-text {
  float: right;
  margin-right: 10px;
}

.cm-msg-button>ul>li {
  list-style: none;
  float: left;
  width: 50%;
}

.cm-msg-button {
  clear: both;
  margin-bottom: 70px;
}

.image-cropper {
  position: relative;
  overflow: hidden;
}

.profile-pic {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
  background: #fff;
  box-shadow: 0px 3px 6px #00000066;
}